
.Footer {
    padding-bottom: 40px;
    background-color: white;
}

.FooterContainer {
    max-width: 660px;
    margin: auto;
}

.FollowTwitterButton {
    width: 200px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding: 12px;
    border-radius: 24px;
    border-width: 0;
    color: black;
    font-family: "Helvetica Neue";
    font-weight: 600;
    text-decoration: none;
}

.FollowTwitterButton:hover {
    background-color: #202020;
    color: white;
    text-decoration: none;
}

.FollowTwitterButton:focus {
    outline: 0;
}



@media (max-width: 576px) { 

    .FooterContainer {
        width: 90%;
        margin: auto;
    }
}

@media (min-width: 576px) {
    .CustomDialog {
        max-width: 400px !important;
    }
}
  
