.SendButton {
    border-radius: 20px;
    width: 140px;
    height: 40px;
    border-width: 0;
    background-color: rgb(240, 240, 240);
    font-family: "Helvetica Neue";
    font-weight: 600;
    color: #202020;
}

.SendButton:hover {
    background-color: #202020;
    color: white;
}

.SendButton:focus {
    outline: 0;
}

.SendMessageLabel {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    font-family: "Helvetica Neue";
    font-weight: 500;
}

.SendEmailStatusText {
    text-align: center;
}

.SendEmailStatusTitle {
    font-family: "Helvetica Neue";
    font-weight: 700;
    font-size: 2rem;
}

.SendEmailStatusMsg {
    font-family: "Helvetica Neue";
    font-weight: 500;
}

@media (min-width: 992px) {
    .SendEmailStatusTitle {
        font-size: 2.5rem;
    }
}

.FormTitle {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: "Helvetica Neue";
}

.FormSubtitle {
    text-align: center;
    font-size: 14px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica Neue";
}

.FormTextarea {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica Neue";
}

.FormDisclaimer {
    font-style: italic;
    font-size: 12px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica Neue";
}

.label.form-label {
    font-family: "Helvetica Neue";
    font-weight: 500;
}

.form-control {
    font-family: "Helvetica Neue";
    font-weight: 400;
}

.form-text {
    margin-top: 0.9rem !important;
}