
.Text {
    max-width: 680px;
    margin:auto;
    margin-bottom: 30px;
}

@media (max-width: 768px) { 
    .Body {
        width: 90%;
    }

    .Content {
        font-size: 16px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .Content {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 992px) { 
    .Content {
        font-size: 18px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .Content {
        font-size: 19px;
    }
}

@media (min-width: 1200px) {
    .Content {
        font-size: 19px;
    }
}

.Content {
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    font-family: 'freight-text-pro','Merriweather',Georgia, 'Cambria' ,'Times New Roman', Times, serif;
    color: #4a4a4a;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.9;
}

.InfiniteCarousel {
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .InfiniteCarousel {
        margin-bottom: 30px;
    }
}

.CarouselItem {
    border-radius: 1em;
    overflow: hidden;
}